.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;

}
.display {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
        margin: 0 auto;
  }

  .numbers-div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }

  .number-button{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 15px;
    font-size: 2.5em;
    background-color: blue;
    color: white;
    box-shadow: 1px 1px #322c2d;
  }

  .operator-div {

  }

  .operator-button{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 15px;
    font-size: 2.5em;
    background-color: #3DB5E5;
    color: white;
    box-shadow: 1px 1px #322c2d;
  }

  .special-div{

  }

  .special-button{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 15px;
    font-size: 2.5em;
    background-color: #2060B0;
    color: white;
    box-shadow: 1px 1px #322c2d;
  }